{template 'header.html'}<div class="container-fluid clearfix view-html">
	{template 'system/random_jpg.html'}
	<div class="clearfix">
		<div class="row column">
			<div class="tag">
				{tag_About页面第一行栏目}
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="row column">
			<div class="tag">
				{tag_About页面第二行栏目}
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="row column">
			<div class="tag">
				{tag_About页面第三行栏目滚动内容5条}
			</div>
		</div>
	</div>
	<div class="clearfix ">
		<div class="row column">
			<div class="tag">
				{tag_About页面第四行栏目内容3条}
			</div>
		</div>
	</div>
	<div class="section15 row">
		<div class="col-md-6">
			<div class="row">
				<div class="s15-item s15-item-l">
					<div class="tag">
						{tag_About页面第五行左侧栏目}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="s15-item s15-item-r">
					<div class="tag">
						{tag_About页面第五行右侧栏目}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{template 'footer.html'}