<div class="lyrow position-move ui-draggable container-fluid-box box-layout clearfix" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/common/plugins/visual/images/layouts/container-fluid.png">
        <p>全屏</p>
    </div>
    <div class="view">
        <div class="container-fluid clearfix">
            <div class="row column ui-sortable">
            



















<div class="lyrowv position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
<div class="preview">
<img src="/common/plugins/visual/images/section/pictures.png">
<p>幻灯片</p>
</div>
<div class="view">
<div class="visual-slide">
            <span class="drag label btn-group drag-container">
				<button type="button" class="btn btn-black"><i class="icon-grid"></i></button>
				<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
				<ul class="dropdown-menu btn-black-dropdown-menu">
					<li><a title="{lang_admin('set_up')}" data-target="#template-slide" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
					<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
				</ul>
			</span>
<div class="custtag" rel="template 'system/slide.html'">

<div class="row">
<!-- Swiper -->
<div class="swiper-container visual-swiper-slide swiper-container-initialized swiper-container-horizontal">
<div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-5652px, 0px, 0px);"><div class="swiper-slide swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" style="width: 1883px; margin-right: 1px;">
<div class="visual-swiper-slide-item">
<a href="#" target="_blank"><img src="/images/slide/banner02.jpg" alt="海量精美模板免费下载"></a>
<div class="visual-swiper-slide-item-text  text-left">
<div class="container">
<h2>海量精美模板免费下载</h2><p class="text-left">一款基于 PHP+Mysql 架构的网站内容管理系统，也是一个 PHP 开发平台。 采用模块化方式开发，功能易用便于扩展，可面向大中型站点提供重量级网站建设解决方案。</p><a href="#" target="_blank" class="btn visual-swiper-slide-btn">了解更多</a></div>
</div>
</div>
</div>
<div class="swiper-slide swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1883px; margin-right: 1px;">
<div class="visual-swiper-slide-item">
<a href="#" target="_blank"><img src="/images/slide/banner01.jpg" alt="响应式网站模板，不同终端，同样精彩12"></a>
<div class="visual-swiper-slide-item-text  text-left">
<div class="container">
<h2>响应式网站模板，不同终端，同样精彩12</h2><p class="text-left">全新推出「响应式网站模板」，移动端访客能够得到与电脑网站一样的体验，轻松找到在电脑网站上看到的内容，无论是在电脑、平板、手机上都可以访问到排版合适的网站，即便是微信等应用内置浏览器也是如此。</p><a href="#" target="_blank" class="btn visual-swiper-slide-btn">了解更多</a></div>
</div>
</div>
</div>
<div class="swiper-slide swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 1883px; margin-right: 1px;">
<div class="visual-swiper-slide-item">
<a href="#" target="_blank"><img src="/images/slide/banner02.jpg" alt="海量精美模板免费下载"></a>
<div class="visual-swiper-slide-item-text  text-left">
<div class="container">
<h2>海量精美模板免费下载</h2><p class="text-left">一款基于 PHP+Mysql 架构的网站内容管理系统，也是一个 PHP 开发平台。 采用模块化方式开发，功能易用便于扩展，可面向大中型站点提供重量级网站建设解决方案。</p><a href="#" target="_blank" class="btn visual-swiper-slide-btn">了解更多</a></div>
</div>
</div>
</div>
<div class="swiper-slide swiper-slide-duplicate swiper-slide-active" data-swiper-slide-index="0" style="width: 1883px; margin-right: 1px;">
<div class="visual-swiper-slide-item">
<a href="#" target="_blank"><img src="/images/slide/banner01.jpg" alt="响应式网站模板，不同终端，同样精彩12"></a>
<div class="visual-swiper-slide-item-text  text-left">
<div class="container">
<h2>响应式网站模板，不同终端，同样精彩12</h2><p class="text-left">全新推出「响应式网站模板」，移动端访客能够得到与电脑网站一样的体验，轻松找到在电脑网站上看到的内容，无论是在电脑、平板、手机上都可以访问到排版合适的网站，即便是微信等应用内置浏览器也是如此。</p><a href="#" target="_blank" class="btn visual-swiper-slide-btn">了解更多</a></div>
</div>
</div>
</div></div>
<div class="swiper-pagination visual-swiper-slide-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
<div class="swiper-button-next visual-swiper-slide-next" tabindex="0" role="button" aria-label="Next slide"><span class="glyphicon glyphicon-menu-right"></span></div>
<div class="swiper-button-prev visual-swiper-slide-prev" tabindex="0" role="button" aria-label="Previous slide"><span class="glyphicon glyphicon-menu-left"></span></div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
<script>
var myswiper = new Swiper('.visual-swiper-slide', {
slidesPerView: 1,
spaceBetween: 1,
loop: true,
lazy: true,
pagination: {
el: '.visual-swiper-slide-pagination',
clickable: true,
},
navigation: {
nextEl: '.visual-swiper-slide-next',
prevEl: '.visual-swiper-slide-prev',
},
autoplay: {
delay: 5000,
stopOnLastSlide: false,
disableOnInteraction: true,
},
});
</script>
<style type="text/css">
.visual-swiper-slide-item-text h2,
.visual-swiper-slide-item-text p{color:#ffffff;}
.visual-swiper-slide-item-text a.visual-swiper-slide-btn {background:#007aff;color:#ffffff;}
.visual-swiper-slide-pagination .swiper-pagination-bullet{width:50px;height:10px;background:#ffffff;opacity: 1;transition: all .3s linear; border-radius: 0;}
.visual-swiper-slide-pagination .swiper-pagination-bullet-active{background:#007aff;}
.visual-swiper-slide .visual-swiper-slide-prev,
.visual-swiper-slide .visual-swiper-slide-next{color:#ffffff;font-size:50px;}
</style>


</div>
</div>
</div>
</div>











</div>
        </div>
    </div>
</div>















































<div class="lyrow position-move visual-drag-box box-element ui-draggable" style="position: relative; opacity: 1; left: 0px; top: 0px;">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-16.jpg" alt="子栏目循环图片说明">
        <p>子栏目循环图片说明</p>
    </div>
    <div class="view">
        <div class="container clearfix layout_385582">
            <div class="row column ui-sortable">
                <div class="visual-drag-box box-element ui-draggable">
<span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-category-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第二行子栏目循环}</span>

 
<div class="s2">
<div class="swiper-container swiper2 swiper-container-initialized swiper-container-horizontal swiper-container-autoheight" style="cursor: grab;">
<div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1150px, 0px, 0px); height: 425px;"><div class="swiper-slide s2-item swiper-slide-duplicate swiper-slide-prev swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 1140px; margin-right: 10px;">
<div class="s2-img">
<a title="技术解决方案" href="/html/Technical-cn" target="_blank">
<img alt="技术解决方案" src="/html/upload/images/201907/15590056384652.jpg" class="swiper-lazy">
<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
</a>
</div>
<div class="s2-text">
<h4><a title="技术解决方案" href="/html/Technical-cn" target="_blank">Technical<b>技术解决方案</b></a></h4>
<span>所提出的一个解决整体问题的方案</span>
<p>解决方案Solution就是针对某些已经体现出的，或者可以预期的问题、不足、缺陷、需求等等，所提出的一个解决整体问题的方</p>
<a class="more" title="技术解决方案" href="/html/Technical-cn" target="_blank">了解更多</a>
</div>
</div>
<div class="swiper-slide s2-item swiper-slide-active" data-swiper-slide-index="0" style="width: 1140px; margin-right: 10px;">
<div class="s2-img">
<a title="行业解决方案" href="/html/Industry-cn" target="_blank">
<img alt="行业解决方案" src="/html/upload/images/201907/15590055325938.jpg" class="swiper-lazy swiper-lazy-loaded">

</a>
</div>
<div class="s2-text">
<h4><a title="行业解决方案" href="/html/Industry-cn" target="_blank">Industry<b>行业解决方案</b></a></h4>
<span>同时能够确保加以快速有效的执行</span>
<p>视频会议服务外包业务是依托中国电信在电信技术和运营管理方面的专业优势，在现有视频平台资源的基础上、整合其他电信产品，为客</p>
<a class="more" title="行业解决方案" href="/html/Industry-cn" target="_blank">了解更多</a>
</div>
</div>
<div class="swiper-slide s2-item swiper-slide-next swiper-slide-duplicate-prev" data-swiper-slide-index="1" style="width: 1140px; margin-right: 10px;">
<div class="s2-img">
<a title="技术解决方案" href="/html/Technical-cn" target="_blank">
<img alt="技术解决方案" src="/html/upload/images/201907/15590056384652.jpg" class="swiper-lazy">
<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
</a>
</div>
<div class="s2-text">
<h4><a title="技术解决方案" href="/html/Technical-cn" target="_blank">Technical<b>技术解决方案</b></a></h4>
<span>所提出的一个解决整体问题的方案</span>
<p>解决方案Solution就是针对某些已经体现出的，或者可以预期的问题、不足、缺陷、需求等等，所提出的一个解决整体问题的方</p>
<a class="more" title="技术解决方案" href="/html/Technical-cn" target="_blank">了解更多</a>
</div>
</div>
<div class="swiper-slide s2-item swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 1140px; margin-right: 10px;">
<div class="s2-img">
<a title="行业解决方案" href="/html/Industry-cn" target="_blank">
<img alt="行业解决方案" src="/html/upload/images/201907/15590055325938.jpg" class="swiper-lazy swiper-lazy-loaded">

</a>
</div>
<div class="s2-text">
<h4><a title="行业解决方案" href="/html/Industry-cn" target="_blank">Industry<b>行业解决方案</b></a></h4>
<span>同时能够确保加以快速有效的执行</span>
<p>视频会议服务外包业务是依托中国电信在电信技术和运营管理方面的专业优势，在现有视频平台资源的基础上、整合其他电信产品，为客</p>
<a class="more" title="行业解决方案" href="/html/Industry-cn" target="_blank">了解更多</a>
</div>
</div></div>
<div class="swiper-pagination swiper2-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span></div>
<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
</div>
<script>
var mySwiper = new Swiper ('.swiper2', {
loop: true,
slidesPerView : 1,
slidesPerGroup : 1,
spaceBetween : 10,
grabCursor: true,
lazy: true,
autoHeight: true,
navigation: {nextEl: '.swiper2-button-next',prevEl: '.swiper2-button-prev',},
pagination: {el: '.swiper2-pagination',clickable: true,},
});
</script></div></div>
                </div>
            </div>
        </div>
    </div>
</div>









<div class="lyrow position-move visual-drag-box box-element ui-draggable" style="">
<span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-18.jpg" alt="栏目说明图片">
        <p>栏目说明图片</p>
    </div>
    <div class="view">
        <div class="container clearfix">
            <div class="row column ui-sortable">
                <div class="visual-drag-box box-element ui-draggable">
<span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-category-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第五行栏目}</span>

<div class="section5">
<div class="container">
<div class="s5 clearfix">
<div class="s5-img">
<a title="关于我们" href="/html/ABOUT-US-cn" target="_blank"><img alt="关于我们" src="/html/upload/images/201907/guanyu.jpg"></a>
</div>
<div class="s5-text">
<h4><a title="关于我们" href="/html/ABOUT-US-cn" target="_blank">关于我们</a></h4>
<span>ABOUT-US</span>
<p>企业一般是指以盈利为目的，运用各种生产要素（土地、劳动力、资本、技术和企业家才能等），向市场提供商品或服务，实行自主经营、自负盈亏、独立核算的法人或其他社会经济组织。在商品经济范畴内，作为组织单元的多种模式之一，按照一定的组织规律，有机构成的经济实体，一般以营利为目的，以实现投资人、客户、员工、社会大众的利益最大化为使命，通过提供产品或服务换取收入。它是社会发展的产物，因社会分工的发展而成长壮大。</p>
<em></em>
</div>
</div>
</div>
</div>

 

</div></div>
                </div>
            </div>
        </div>
    </div>
</div>









<div class="lyrow position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-19.jpg" alt="内容3条">
        <p>内容3条</p>
    </div>
    <div class="view">
        <div class="container clearfix layout_385582">
            <div class="row column ui-sortable">
                <div class="visual-drag-box box-element ui-draggable">
<span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-content-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第六行栏目内容3条}</span><div class="section6">
<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="s6-item">
<div class="s6-img">
<a title="国内陆运" href="/html/Storage-cn/show-20.html" target="_blank"><img alt="国内陆运" src="/html/upload/images/201907/15590106644556.jpg"></a>
</div>
<div class="s6-text">
<h4><font style="color:;">国内陆运</font></h4>
<p>一、运输具有生产的本质属性运输的生产过程是以一定的生产关系联系起来的、具有劳动技能的人们使用劳动工具（如车、船、飞机及其</p>
</div>
<div class="s6-text2">
<a title="国内陆运" href="/html/Storage-cn/show-20.html" target="_blank" class="more">more  ></a>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="s6-item">
<div class="s6-img">
<a title="国际陆运" href="/html/Storage-cn/show-19.html" target="_blank"><img alt="国际陆运" src="/html/upload/images/201907/15590106398663.jpg"></a>
</div>
<div class="s6-text">
<h4><font style="color:;">国际陆运</font></h4>
<p>运输是指用特定的设备和工具，将物品从一个地点向另一个地点运送的物流活动，它是在不同地域范围内，以改变物的空间位置为目的对</p>
</div>
<div class="s6-text2">
<a title="国际陆运" href="/html/Storage-cn/show-19.html" target="_blank" class="more">more  ></a>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="s6-item">
<div class="s6-img">
<a title="国内航空运输" href="/html/Storage-cn/show-18.html" target="_blank"><img alt="国内航空运输" src="/html/upload/images/201907/15590106116481.jpg"></a>
</div>
<div class="s6-text">
<h4><font style="color:;">国内航空运输</font></h4>
<p>技术设备是实现航空运输的物质基础。主要包括航路、航空港、飞机和通信导航设施等。航路是根据地面导航设施建立的走廊式保护空域</p>
</div>
<div class="s6-text2">
<a title="国内航空运输" href="/html/Storage-cn/show-18.html" target="_blank" class="more">more  ></a>
</div>
</div>
</div>
</div>
</div>
</div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="lyrow position-move position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
<img src="/template/2019-default/skin/images/visual/modules/layouts-17.jpg" alt="栏目说明图片">
        <p>栏目说明图片</p>
    </div>
    <div class="view">
        <div class="clearfix">
            <div class="row column ui-sortable">
                <div class="lyrow position-move ui-draggable box-layout clearfix">
                    <span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-category-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第三行栏目}</span>

<div class="section3">
<div class="container">
<div class="s3 clearfix">
<div class="s3-1">
<h4>联系我们</h4>
<p>Contact-us</p>
<h5><i class="icon-call-end"></i>：400-400-4000011</h5>
<h5><i class="icon-drop"></i>：<span>某某股份有限公司</span></h5>
<a class="more" title="联系我们" href="/html/Contact-us-cn" target="_blank"><em></em>了解更多 ></a>
</div>
<div class="s3-2">
<h4>联系我们</h4>
<span>Contact-us</span>
<p>如果你想拥有一份自由有趣的工作，如果你对界面设计拥有一份热情和动力，那么请与我们联系。在这里你能发现一群志同道合的年轻人，并为了实践理想而努力！我们的团队为自己的理想奋斗，我们互补性强，分工明确，目标一致，我们艰苦奋斗，坚持不辍！因为我们坚信，一个好的理念和一个优秀的团队势必会成就一个远大的理想！&nbsp;联系我们：售前咨询客服QQ-01：售前咨询客服QQ-02：客户售前咨询热线：客户售后服务热</p>
<a class="more" title="联系我们" href="/html/Contact-us-cn" target="_blank">了解更多  ></a>
</div>
</div>
</div>
</div>
 

</div></div>
                </div>
            </div>
        </div>
    </div>
</div>






















<div class="lyrow position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-21.jpg" alt="内容头条加列表3条">
        <p>内容头条加列表3条</p>
    </div>
    <div class="view">
        <div class="container clearfix layout_385582">
            <div class="row column ui-sortable">
                




<div class="visual-drag-box box-element ui-draggable" style="position: relative; opacity: 1; left: 0px; top: 0px;">
<span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-content-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第八行栏目内容4条}</span><div class="section8">
<div class="container">	
<div class="s8">
<div class="row">
<div class="col-md-6">
<div class="s8-left">
<div class="s8-left-img">
<a title="500万美元领投AI创企ObEN，进一步布局社交AI" href="/html/Corporate-news-cn/show-22.html" target="_blank"><img alt="500万美元领投AI创企ObEN，进一步布局社交AI" src="/html/upload/images/201907/14360803742226.jpg"></a>
</div>
<div class="s8-left-text">
<div class="s8-item">
<div class="s8-date">
<h4>2019</h4>
<p>09-06</p>
</div>
<div class="s8-text">
<h4><a title="500万美元领投AI创企ObEN，进一步布局社交AI" href="/html/Corporate-news-cn/show-22.html" target="_blank"><font style="color:;">500万美元领投AI创企ObEN，进一步</font></a></h4>
<p>除了做基础技术的研究外，腾讯曾表示要通过业务驱动来推动各种应用场景的人工智能化。结合腾讯的主营业务，也不难猜到未来公司要</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="s8-right">
<div class="s8-item">
<div class="s8-date">
<h4>2019</h4>
<p>07-09</p>
</div>
<div class="s8-text">
<h4><a title="无人便利店风口正当时，“便利家”获联创永宣冯涛数百万元天使投资" href="/html/Corporate-news-cn/show-21.html" target="_blank"><font style="color:;">无人便利店风口正当时，“便利家”获联创永</font></a></h4>
<p>6氪获悉，无人便利店“便利家”已获得数百万人民币天使轮投资，资方为联创永宣冯涛。无人便利店风口正当时，缤果盒子、F5未来</p>
</div>
</div>
<div class="s8-item">
<div class="s8-date">
<h4>2019</h4>
<p>07-09</p>
</div>
<div class="s8-text">
<h4><a title="美业信息化规模将现，门庭管店为他们提供了一套SaaS管理软件" href="/html/Industry-news-cn/show-23.html" target="_blank"><font style="color:;">美业信息化规模将现，门庭管店为他们提供了</font></a></h4>
<p>数据显示，2015年，我国服务业同比增长8.3%，分别高于国内生产总值和第二产业增加值增速1.4和2.3个百分点，占国内</p>
</div>
</div>
<div class="s8-item">
<div class="s8-date">
<h4>2019</h4>
<p>07-09</p>
</div>
<div class="s8-text">
<h4><a title="点击在线求助，应答的却都是机器人，这样真的好吗？" href="/html/Industry-news-cn/show-24.html" target="_blank"><font style="color:;">点击在线求助，应答的却都是机器人，这样真</font></a></h4>
<p>人工智能技术的发展正在不断地改变着人们的生活与工作方式，它在一定程度上推动了社会的发展与进步，这一点是毋庸置疑的。但人工</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>	
</div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>













<div class="lyrow position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
<img src="/template/2019-default/skin/images/visual/modules/layouts-20.jpg" alt="栏目说明图片">
        <p>栏目说明图片</p>
    </div>
    <div class="view">
        <div class="clearfix">
            <div class="row column ui-sortable">
                















<div class="lyrow position-move ui-draggable box-layout clearfix">
                    <span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-category-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_首页第七行栏目}</span>

<div class="section7">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="s7-1">
<h4>人力资源</h4>
<p>HUMAN-RESOURCES</p>
</div>
</div>
<div class="col-md-8">
<div class="s7-2">
<div class="row">
<div class="col-sm-6">
<div class="s7-2-text">
<h4>服务热线</h4>
<span>0371-63363998</span>
<p><i class="icon-envelope"></i>	admin@admin.com</p>
<a href="/html/HUMAN-RESOURCES-cn" class="more"><span class="glyphicon glyphicon-menu-right"></span></a>
</div>
</div>
<div class="col-sm-6">
<div class="s7-2-img">
<img src="/template/2019-default/skin/images/base/img71.jpg" width="344" height="226" alt="">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


</div></div>
                </div>









































































            </div>
        </div>
    </div>
</div>




