
<!-- Bootstrap core Javascript
================================================== -->
<script src="{$base_url}/common/css/bootstrap/bootstrap-3.3.7/js/bootstrap.min.js"></script>

<!--打印-->
<script src="{$base_url}/common/plugins/font-print/c_tool.js"></script>

<!-- 繁简切换 -->
{if get('lang_type')=='1'}<script type="text/javascript" src="{$base_url}/common/js/common.js"></script>{/if}

<!-- 左侧树形菜单 -->
<link rel="stylesheet" href="{$base_url}/common/plugins/left_menu_list/left_menu_list.css">
<script src="{$base_url}/common/plugins/left_menu_list/left_menu_list.js"></script>



<script type="text/javascript">
    <!--
    var myswiper = new Swiper('.content-picture', {
        slidesPerView: 1,
		spaceBetween : 10,
        pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
      },
        lazy: true,
        loop: true,
    });
    //-->
</script>








