<div class="lyrow position-move visual-drag-box box-element clearfix ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-5.jpg" alt="内页随机图片">
        <p>内页随机图片	</p>
    </div>
    <div class="view col-md-12 col-lg-12 col-xs-12">
        <div class="row custtag" rel="template 'system/random_jpg.html'">
            <span class="drag label btn-group drag-container">
        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu btn-black-dropdown-menu">
            <li><a title="设置" href="/index.php?case=config&act=system&set=slide&admin_dir=admin&site=default" target="_blank"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
        </ul>
    </span>
            <div class="cbanner" style="height:350px;">

                <div class="cbanner-bg" style="background:url(/images/banner/s1.jpg) center top no-repeat;background-size: cover;">
                    <div class="container">
                        <div class="cbanner-title">
                            <h4 class="column-title">当前名称</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div class="lyrow position-move visual-drag-box box-element clearfix ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-13.jpg" alt="当前栏目标题副标题">
        <p>分类标题</p>
    </div>
    <div class="view">
        <div class="codearea">
            <div class="list-title list-title2">
                <div class="container">
                    <p class="column-htmldir">Type</p>
                    <h4 class="column-title">#[#$type['typename']#]#</h4>

                </div>
            </div>
        </div>
        <div class="viewarea">
            <div class="list-title list-title2">
                <div class="container">
                    <p class="column-htmldir">Type</p>
                    <h4 class="column-title">分类</h4>
                </div>
            </div>
        </div>
    </div>
</div><div class="lyrow container-box position-move ui-draggable box-layout clearfix" style="">
   <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
<div class="preview">
        <img src="/common/plugins/visual/images/layouts/container.png">
        <p>宽屏</p>
    </div>
    <div class="view">
        <div class="container clearfix">
            <div class="row column ui-sortable">
            <div class="lyrow box-layout ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/common/plugins/visual/images/layouts/8-4.png">
        <p>8 4</p>
    </div>
    <div class="view">
        <div class="col-md-8">
            <div class="row column ui-sortable">
            <div class="lyrow visual-drag-box box-element ui-draggable" style="">
    <span class="drag label btn-group drag-container">
        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu btn-black-dropdown-menu">
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
        </ul>
    </span>
<div class="preview">
<img src="/common/plugins/visual/images/section/print.png">
<p>打印</p>
</div>
<div class="view">
<div class="visual-print">
<div class="codearea">
<p class="visual-print-tools">
<a href="javascript:CallPrint('print');"><i class="glyphicon glyphicon-print"></i></a>&nbsp; &nbsp; &nbsp;<a href="javascript:doZoom(14)">#[#lang('small')#]#</a>&nbsp; &nbsp;<a href="javascript:doZoom(18)">#[#lang('middle')#]#</a>&nbsp; &nbsp;<a href="javascript:doZoom(20)">#[#lang('big')#]#</a>
</p>
</div>
<div class="viewarea">
<p class="visual-print-tools">
<a href="#">打印本文</a> &nbsp; &nbsp; &nbsp; <a href="#">小</a>&nbsp; &nbsp;<a href="#">中</a>&nbsp; &nbsp;<a href="#">大</a>
</p>
</div>
</div>
        <script src="/common/plugins/font-print/c_tool.js"></script>
</div>
</div><div class="lyrow visual-drag-box box-element ui-draggable" style="position: relative; opacity: 1; left: 0px; top: 0px;">
    <span class="drag label btn-group drag-container">
        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
        <ul class="dropdown-menu btn-black-dropdown-menu">
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
        </ul>
    </span>
<div class="preview">
<img src="/common/plugins/visual/images/section/content.png">
<p>分类文字</p>
</div>
<div class="view">
<div id="print" class="type-content">
<div class="codearea">
#[#$type['typecontent']#]#
</div>
<div class="viewarea">
                CmsEasy易通免费企业网站系统自带国内企业CMS首创的推广链模块，通过推广链接让客户和生意自己找上门！这点是CmsEasy易通免费企业网站系统独有的优势和长处，在这里推荐各位企业建站用户体验下。</div>
</div>
</div>
</div></div>
        </div>
        <div class="col-md-4">
            <div class="row column ui-sortable">
            <div class="lyrow visual-drag-box box-element ui-draggable" style="">
    <span class="drag label btn-group drag-container">
                                        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
                                        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                        <ul class="dropdown-menu btn-black-dropdown-menu">
                                            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
                                            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
                                        </ul>
                                    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-7.jpg" alt="热点排行">
        <p>热点排行</p>
    </div>
    <div class="view">
        <div class="codearea">
            <div class="hot-news">
                <div class="title20">
                    <p>Host List</p>
                    <h4>#[#lang('hostlist')#]#</h4>
                </div>
                <ul>
                    #[#loop archive($catid,0,0,'0,0,0',20,'view',9,false,0) $i $arc#]#
                    <li><span>#[#=$i#]#</span><a href="#[#$arc['url']#]#" title="#[#$arc['stitle']#]#">#[#$arc['title']#]#</a></li>
                    #[#/loop#]#
                </ul>
            </div>
        </div>
        <div class="viewarea">
            <div class="hot-news">
                <div class="title20">
                    <p><a href="">Relate Dcontent</a></p>
                    <h4><a href="">热点排行</a></h4>
                </div>
                <ul>
                    <li><span>1</span><a href="">相关内容标题一</a></li>
                    <li><span>2</span><a href="">相关内容标题二</a></li>
                    <li><span>3</span><a href="">相关内容标题三</a></li>
                    <li><span>4</span><a href="">相关内容标题四</a></li>
                    <li><span>5</span><a href="">相关内容标题五</a></li>
                    <li><span>6</span><a href="">相关内容标题六</a></li>
                    <li><span>7</span><a href="">相关内容标题七</a></li>
                    <li><span>8</span><a href="">相关内容标题八</a></li>
                    <li><span>9</span><a href="">相关内容标题九</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><div class="lyrow visual-drag-box box-element ui-draggable" style="">
   <span class="drag label btn-group drag-container">
                                        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
                                        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                        <ul class="dropdown-menu btn-black-dropdown-menu">
                                            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
                                            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
                                        </ul>
                                    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-8.jpg" alt="TAG">
        <p>TAG</p>
    </div>
    <div class="view">
        <div class="codearea">
            <div class="new-teg">
                <div class="title20">
                    <p>hot news</p>
                    <h4>TAG</h4>
                </div>
                <div class="new-teg-list">
                   #[#loop tags($catid,10) $tag#]#
                    <a href="#[#$tag['url']}" style="color:#[#$tag['tag_txtcolor']#]#;size:#[#$tag['tag_txtsize']#]#">#[#$tag['tag']#]#</a>
                    #[#/loop#]#
                </div>
            </div>
        </div>
        <div class="viewarea">
            <div class="new-teg">
                <div class="title20">
                    <p><a>hot news</a></p>
                    <h4><a>TAG</a></h4>
                </div>
                <div class="new-teg-list">
                    <a>自定义TAG一</a>
                    <a>自定义TAG二</a>
                    <a>自定义TAG三</a>
                    <a>自定义TAG四</a>
                    <a>自定义TAG五</a>
                    <a>自定义TAG六</a>
                    <a>自定义TAG七</a>
                </div>
            </div>
        </div>
    </div>
</div></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div></div>
        </div>
    </div>
</div>        <div class="lyrowv position-move visual-drag-box box-element clearfix ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-13.jpg" alt="当前栏目标题副标题">
        <p>分类标题</p>
    </div>
    <div class="view">
        <div class="codearea">
            <div class="list-title list-title2">
                <div class="container">
                    <p class="column-htmldir">#[#$type[$typeid]['htmldir']#]#</p>
                    <h4 class="column-title">#[#$type['typename']#]#</h4>
                    <ul class="column-subcolumn">
                        #[#loop type($topid) $t#]#
                        <li class="column-subcolumn-title"><a href="#[#$t['url']#]#" title="#[#$t['typename']#]#">#[#$t['typename']#]#</a></li>
                        #[#/loop#]#
                    </ul>
                </div>
            </div>
        </div>
        <div class="viewarea">
            <div class="list-title list-title2">
                <div class="container">
                    <p class="column-htmldir"><a>HTMLDIR</a></p>
                    <h4 class="column-title"><a>分类标题</a></h4>
                    <ul class="column-subcolumn">
                        <li class="column-subcolumn-title"><a class="active">子分类</a></li>
                        <li class="column-subcolumn-title"><a>子分类</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>