{loop plugins::categoryinfo($_catid,$_titlenum,$_textnum) $cat}


<div class="section12">
	<div class="s12-img">
		<img alt="{$cat['catname']}" class="lazy" data-original="{$cat['image']}" />
	</div>
	<div class="s12-text">
		<div class="list-title">			
			<p><a title="{$cat['catname']}" href="{$cat['url']}" target="_blank">{$cat['htmldir']}</a></p>
			<h4><a title="{$cat['catname']}" href="{$cat['url']}" target="_blank">{$cat['catname']}</a></h4>
		</div>
		<p>{$cat['categorycontent']}</p>
		<a title="{$cat['catname']}" href="{$cat['url']}" target="_blank" class="more">{lang('more')} <span class="glyphicon glyphicon-menu-right"></span></a>
		<div class="blank5"></div>
	</div>
</div>

 
{/loop}