<div class="lyrow position-move visual-drag-box box-element clearfix ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-5.jpg" alt="内页随机图片">
        <p>内页随机图片	</p>
    </div>
    <div class="view col-md-12 col-lg-12 col-xs-12">
        <div class="row custtag" rel="template 'system/random_jpg.html'">
            <span class="drag label btn-group drag-container">
        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu btn-black-dropdown-menu">
            <li><a title="设置" href="/index.php?case=config&act=system&set=slide&admin_dir=admin&site=default" target="_blank"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
        </ul>
    </span>
            <div class="cbanner" style="height:350px;">

                <div class="cbanner-bg" style="background:url(/images/banner/s1.jpg) center top no-repeat;background-size: cover;">
                    <div class="container">
                        <div class="cbanner-title">
                            <h4 class="column-title">当前名称</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        <div class="lyrow position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
<img src="/template/2019-default/skin/images/visual/modules/layouts-23.jpg" alt="About页面第一行栏目">
        <p>About页面第一行栏目</p>
    </div>
    <div class="view">
        <div class="clearfix">
            <div class="row column ui-sortable">
                <div class="lyrow position-move ui-draggable box-layout clearfix">
                    <span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-category-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view"><div class="tag"><span class="removeClean tagname">{tag_About页面第一行栏目}</span><div class="section11">
<div class="list-title list-title2">
<div class="container">			
<p><a title="董事长致辞" href="/index.php?case=archive&act=list&catid=31" target="_blank">CHAIRMANS-SPEECH</a></p>
<h4><a title="董事长致辞" href="/index.php?case=archive&act=list&catid=31" target="_blank">董事长致辞</a></h4>
</div>
</div>
<div class="container">
<div class="s11">
<div class="row">
<div class="col-md-6 col-md-push-6">
<div class="row">
<div class="s11-img">
<a title="董事长致辞" href="/index.php?case=archive&act=list&catid=31" target="_blank"><img alt="董事长致辞" src="/html/upload/images/201907/15590892414438.jpg"></a>
</div>
</div>
</div>
<div class="col-md-6 col-md-pull-6">
<div class="s11-text">
<h4>集团董事长：</h4>
<p>我们构建创新解决方案以解决当今的环境挑战，从而拉动经济增长。“健康创想”承诺让更多人更健康。我们通过富有想象力的理念和成熟的解决方案，创造更健康的世界。</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div></div>
                </div>
            </div>
        </div>
    </div>
</div><div class="lyrow position-move position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
<img src="/template/2019-default/skin/images/visual/modules/layouts-24.jpg" alt="About页面第二行栏目">
        <p>About页面第二行栏目</p>
    </div>
    <div class="view">
        <div class="clearfix">
            <div class="row column ui-sortable">
                <div class="lyrow position-move ui-draggable box-layout clearfix">
                    <span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-category-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view">
<div class="tag">
<span class="removeClean tagname">{tag_About页面第二行栏目}</span>
<div class="section12">
<div class="s12-img">
<img src="/template/2019-default/skin/images/base/img121.jpg">
</div>
<div class="s12-text">
<div class="list-title">																
<p><a href="">GROUP PROFILE</a></p>
<h4><a href="">集团简介</a></h4>
</div>
<p>公司是全球数字工业公司，创造由软件定义的机器，集互联、响应和预测之智，致力变革传统工业。全球知识交换系统让所有业务共享技术、市场、结构与智力，每项发明都推动跨界创新应用。GE理解行业之需，讲述工业语言，以全球人才、服务、科技与规模，为客户创造非凡业绩。</p>
<a href="" class="more">了解更多 <span class="glyphicon glyphicon-menu-right"></span></a>
<div class="blank5"></div>
</div>
</div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div class="lyrow position-move position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
<img src="/template/2019-default/skin/images/visual/modules/layouts-25.jpg" alt="About页面第三行栏目滚动内容5条">
        <p>About页面第三行栏目滚动内容5条</p>
    </div>
    <div class="view">
        <div class="clearfix">
            <div class="row column ui-sortable">
                <div class="lyrow position-move ui-draggable box-layout clearfix">
                   <span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-content-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view"> 
<div class="tag">
<span class="removeClean tagname">{tag_About页面第三行栏目滚动内容5条}</span>
<div class="section13">
<div class="container">
<div class="list-title">										
<p><a>DEVELOPMENT HISTORY</a></p>
<h4><a>发展历程</a></h4>
</div>
<div class="s13">
<div class="swiper-container about-slide-nav">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="about-slide-nav-tiem">
1982	
</div>
</div>
<div class="swiper-slide">
<div class="about-slide-nav-tiem">
1987	
</div>
</div>
<div class="swiper-slide">
<div class="about-slide-nav-tiem">
1992	
</div>
</div>
<div class="swiper-slide">
<div class="about-slide-nav-tiem">
1995	
</div>
</div>
<div class="swiper-slide">
<div class="about-slide-nav-tiem">
2000	
</div>
</div>
</div>
</div>
<div class="swiper-container about-slide-content">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="about-slide-content-item">
<div class="s13-img">
<a><img src="/template/2019-default/skin/images/base/img131.jpg"></a>
</div>
<div class="s13-text">
<div class="s13-text2">
<p>1982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。1</p>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="about-slide-content-item">
<div class="s13-img">
<a><img src="/template/2019-default/skin/images/base/img131.jpg"></a>
</div>
<div class="s13-text">
<div class="s13-text2">
<p>1982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。1</p>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="about-slide-content-item">
<div class="s13-img">
<a><img src="/template/2019-default/skin/images/base/img131.jpg"></a>
</div>
<div class="s13-text">
<div class="s13-text2">
<p>1982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。1</p>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="about-slide-content-item">
<div class="s13-img">
<a><img src="/template/2019-default/skin/images/base/img131.jpg"></a>
</div>
<div class="s13-text">
<div class="s13-text2">
<p>1982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。1</p>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="about-slide-content-item">
<div class="s13-img">
<a><img src="/template/2019-default/skin/images/base/img131.jpg"></a>
</div>
<div class="s13-text">
<div class="s13-text2">
<p>1982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。982年，公司成立。1</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div class="lyrow position-move position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
<img src="/template/2019-default/skin/images/visual/modules/layouts-26.jpg" alt="About页面第四行栏目内容3条">
        <p>About页面第四行栏目内容3条</p>
    </div>
    <div class="view">
        <div class="clearfix ">
            <div class="row column ui-sortable">
                <div class="lyrow position-move ui-draggable box-layout clearfix">
                   <span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-content-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                    <div class="view">
<div class="tag">
<span class="removeClean tagname">{tag_About页面第四行栏目内容3条}</span>
<div class="section14">
<div class="container">
<div class="list-title">																
<p><a href="">DEVELOPMENT HISTORY</a></p>
<h4><a href="">发展历程</a></h4>
</div>
<div class="s14">
<div class="row">
<div class="col-sm-4">
<div class="s14-item">
<div class="s14-img">
<a href=""><img src="/template/2019-default/skin/images/base/img141.jpg" alt=""></a>
</div>
<div class="s14-text">
<span>2019.04.11</span>
<h4><a href="">标题文字演示</a></h4>
<p>简介演示文字简介演示文字简介演示文字简介演示文字简介演示文字...</p>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="s14-item">
<div class="s14-img">
<a href=""><img src="/template/2019-default/skin/images/base/img142.jpg" alt=""></a>
</div>
<div class="s14-text">
<span>2019.04.11</span>
<h4><a href="">标题文字演示</a></h4>
<p>简介演示文字简介演示文字简介演示文字简介演示文字简介演示文字...</p>
</div>
</div>
</div>
<div class="col-sm-4">
<div class="s14-item">
<div class="s14-img">
<a href=""><img src="/template/2019-default/skin/images/base/img143.jpg" alt=""></a>
</div>
<div class="s14-text">
<span>2019.04.11</span>
<h4><a href="">标题文字演示</a></h4>
<p>简介演示文字简介演示文字简介演示文字简介演示文字简介演示文字...</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>				 
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div class="lyrow position-move position-move visual-drag-box box-element ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-27.jpg" alt="About页面第五行栏目">
        <p>About页面第五行栏目</p>
    </div>
    <div class="view">
        <div class="section15 row">
            <div class="col-md-6">
                <div class="row">
                    <div class="s15-item s15-item-l">
                        <div class="visual-drag-box box-element ui-draggable">
<span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-category-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                            <div class="view">
                                <div class="tag">
                                    <span class="removeClean tagname">{tag_About页面第五行左侧栏目}</span>
                                    <div class="s15-title">
                                        <div class="s15-title2">
                                            <a class="more" href=""><span class="glyphicon glyphicon-chevron-left"></span></a>
                                            <h4><a href="">荣誉资质</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="s15-item s15-item-r">
                        <div class="visual-drag-box box-element ui-draggable">
<span class="drag label btn-group drag-container">
<button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
<button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
<ul class="dropdown-menu btn-black-dropdown-menu">
<li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
<li><a title="设置" data-target="#template-category-tag" role="button" data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
<li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
</ul>
</span>
                            <div class="view">
                                <div class="tag">
                                    <span class="removeClean tagname">{tag_About页面第五行右侧栏目}</span>
                                    <div class="s15-title">
                                        <div class="s15-title2">
                                            <a class="more pull-left" href=""><span class="glyphicon glyphicon-chevron-right"></span></a>
                                            <h4><a href="">领导关怀</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>