{template 'header.html'}<div class="clearfix view-html">
	<div class="container-fluid clearfix">
		<div class="row column">
			<div class="visual-slide">
				{template 'system/slide.html'}
			</div>
		</div>
	</div>
	<div class="container clearfix layout_385582">
		<div class="row column">
			<div class="tag">
				{tag_首页第二行子栏目循环}
			</div>
		</div>
	</div>
	<div class="container clearfix">
		<div class="row column">
			<div class="tag">
				{tag_首页第五行栏目}
			</div>
		</div>
	</div>
	<div class="container clearfix layout_385582">
		<div class="row column">
			<div class="tag">
				{tag_首页第六行栏目内容3条}
			</div>
		</div>
	</div>
	<div class="clearfix">
		<div class="row column">
			<div class="tag">
				{tag_首页第三行栏目}
			</div>
		</div>
	</div>
	<div class="container clearfix layout_385582">
		<div class="row column">
			<div class="tag">
				{tag_首页第八行栏目内容4条}
			</div>
		</div>
	</div>
</div>{template 'footer.html'}