<div class="container-fluid clearfix view-html">
	<div class="container clearfix">
		<div class="row column">
			<div class="col-md-3 col-sm-4 col-xs-12">
				<a href="{$site_url}" class="navbar-brand text-center"><img src="{get('site_logo')}" class="img-responsive" alt="{get('sitename')}" /></a>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="foot-tel">
					<h4>
						{lang('servertel')}
					</h4>
					<p>
						{get('tel')}
					</p>
				</div>
				<div class="foot-email">
					<h4>
						{lang('email')}
					</h4>
					<p>
						{get('email')}
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">


			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<div class="checkout text-center">
					<img src="{get('weixin_pic')}" alt='' />
					<p>
						{lang('attention')}<br />{lang('official')}{lang('wechat')}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>