{template_shopping 'header.html'}

{template_shopping 'top-product.html'}


<div class="loop_products1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="loop-products1-img-big">
                    {tag_shop_商城页面第一行左侧推荐专题大图}
                </div>
            </div>
            <div class="col-md-6">
                <div class="loop-products1-items">
                    {tag_shop_商城页面第一行右侧小图推荐}
                </div>
            </div>
        </div>
    </div>
</div>



<div class="loop-products2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="loop-products2-img">
                    {tag_shop_商城页面第二行左侧分类}
                </div>
            </div>
            <div class="col-md-6">
                <div class="loop-products2-img">
                    {tag_shop_商城页面第二行右侧分类}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {template_shopping 'screening/screening.html'}
    <div class="clearfix"></div>
</div>


<div class="loop-products3">
    <div class="container">
        <div class="row">
        <div class="loop-products3-title">
            <a class="swiper-loop-products3-prev" ><span class="glyphicon glyphicon-menu-left "></span></a>
            <a class="swiper-loop-products3-next" ><span class="glyphicon glyphicon-menu-right"></span></a>
            <h4>{$category[$catid]['catname']}</h4>
            <ul class="swiper-loop-products3-title">
                <div class="swiper-wrapper">
                    {loop categories($catid) $i $t}
                    <div class="swiper-slide">
                        <li><a title="{$t['catname']}" href="javascript:void(0)" target="_blank">{$t['catname']}</a></li>
                    </div>
                    {/loop}
                </div>
            </ul>
        </div>

        <div class="swiper-container loop-products3-content">
            <div class="swiper-wrapper">
                {loop categories_new_nav($catid,'shop',true) $i $t}
                <div class="swiper-slide">
                    <div class="loop-products3-content1">
                        <ul>
                            {loop archive($t[catid],'0','0','0,0,0','20','aid','10','ture','0','true','0','0','0','0') $i $archive}
                            {if $i%4==0 && $i>0}
                            <div class="clearfix visible-sm-block"></div>
                            {/if}
                            <li>
                                <div class=" loop-products3-img">
                                    <a title="{$archive['stitle']}" href="{$archive['url']}" target="_blank"><img alt="{$archive['stitle']}" src="{$archive['thumb']}" class="swiper-lazy" /><div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div></a>
                                </div>
                                <div class=" loop-products3-text">
                                    <h4>
                                        <a title="{$archive['stitle']}" href="{$archive['url']}" target="_blank" >{$archive['title']}</a>
                                    </h4>
                                    <p>{$archive['subtitle']}</p>
                                    <span class="pull-left">{lang('unit')} {$archive['oldprice']}</span>
                                    <span class="pull-right"><a onclick="buyshop('{url('archive/doorders/aid/',true)}','{url('archive/getarchiveType',false)}','{$archive['aid']}')"><i class="btnCart icon-basket"></i></a>{getcollect($archive['aid'])}</span>
                                    <div class="clearfix"></div>
                                </div>
                            </li>
                            {/loop}
                        </ul>
                    </div>
                </div>
                {/loop}
            </div>
        </div>
    </div>
</div>

<div class="show_products4">
	<div class="container">
		<div class="show_products4-inner">
			{tag_商城内容页第四行栏目内容5条}
		</div>
	</div>
</div>

    <!-- loop_products页面 -->
    <script>
        var galleryThumbs = new Swiper('.swiper-loop-products3-title', {
            spaceBetween: 10,
            slidesPerView: 4,
            loop: false,
            freeMode: true,
            lazy: true,
            loopedSlides: 5, //looped slides should be the same
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var mySwiper = new Swiper ('.loop-products3-content', {
            loop: true,
            slidesPerView : 1,
            slidesPerGroup : 1,
            spaceBetween : 10,
            navigation: {nextEl: '.swiper-loop-products3-next',prevEl: '.swiper-loop-products3-prev',},
            lazy: true,
            thumbs: {
                swiper: galleryThumbs,
            },
        });
    </script>


    <script>
        var mySwiper = new Swiper ('.swiper-show_products3', {
            loop: true,
            slidesPerView : 1,
            slidesPerGroup : 1,
            spaceBetween : 10,
            lazy: true,
            autoHeight: true, //高度随内容变化
            breakpointsInverse: true,
            breakpoints: {
                320: {slidesPerView: 1},
                480: {slidesPerView: 2},
                768: {slidesPerView: 3},
                992: {slidesPerView: 4},
                1200: {slidesPerView: 5},
            },
            navigation: {nextEl: '.swiper-show_products3-next',prevEl: '.swiper-show_products3-prev',},
        });
    </script>

{template_shopping 'footer.html'}