<div class="lyrow position-move visual-drag-box box-element clearfix ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/template/2019-default/skin/images/visual/modules/layouts-5.jpg" alt="内页随机图片">
        <p>内页随机图片	</p>
    </div>
    <div class="view col-md-12 col-lg-12 col-xs-12">
        <div class="row custtag" rel="template 'system/random_jpg.html'">
            <span class="drag label btn-group drag-container">
        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu btn-black-dropdown-menu">
            <li><a title="设置" href="/index.php?case=config&act=system&set=slide&admin_dir=admin&site=default" target="_blank"><i class="glyphicon glyphicon-pencil"></i>设置</a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
        </ul>
    </span>
            <div class="cbanner row" style="height:350px;">

                <div class="cbanner-bg" style="background:url(/images/banner/s1.jpg) center top no-repeat;background-size: cover;">
                    <div class="container">
                        <div class="cbanner-title">
                            <h4 class="column-title">当前名称</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><div class="lyrow position-move visual-drag-box box-element clearfix ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
<img src="/template/2019-default/skin/images/visual/modules/layouts-13.jpg" alt="当前栏目标题副标题">
<p>留言标题</p>
    </div>
<div class="view">
        <div class="codearea">
<div class="list-title list-title2">
<div class="container">
                    <p class="column-htmldir">
                        Guestbook</p>
<h4 class="column-title">#[#lang('guestbook')#]#</h4>

</div>
</div>
        </div>
        <div class="viewarea">
<div class="list-title list-title2">
<div class="container">
<p class="column-htmldir">
                        Guestbook</p>
<h4 class="column-title">留言</h4>
</div>
</div>		
        </div>
    </div>
</div><div class="lyrow container-box position-move ui-draggable box-layout clearfix" style="">
   <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
<div class="preview">
        <img src="/common/plugins/visual/images/layouts/container.png">
        <p>宽屏</p>
    </div>
    <div class="view">
        <div class="container clearfix">
            <div class="row column ui-sortable">
            <div class="lyrow box-layout ui-draggable" style="">
    <span class="drag label container-box-menu">
        <ul>
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i></a></li>
            <li><a title="上移" class="div-up"><i class="glyphicon glyphicon-arrow-up"></i></a></li>
            <li><a title="下移" class="div-down"><i class="glyphicon glyphicon-arrow-down"></i></a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </span>
    <div class="preview">
        <img src="/common/plugins/visual/images/layouts/8-4.png">
        <p>8 4</p>
    </div>
    <div class="view">
        <div class="col-md-8">
            <div class="row column ui-sortable">
            <div class="lyrow visual-drag-box box-element ui-draggable" style="">
    <span class="drag label btn-group drag-container">
        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu btn-black-dropdown-menu">
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
        </ul>
    </span>
<div class="preview">
<img src="/common/plugins/visual/images/section/content_list.png">
<p>留言列表</p>
</div>
<div class="view">
<div class="visual-guestbook-list custtag" rel="template 'visual/list/listguestbooktag/guestbook_list.html'">
            <link href="/template/2019-default/skin/css/guestbook.css" rel="stylesheet">

            <div class="guestbook_list" style="border:none;">


                <div class="guestbook_content_item">
                    <div class="guestbook_head col-xs-3 col-sm-1"><img src="/images/nopic.gif" alt="headimage" class="img-responsive" onerror="this.src="/images/nopic.gif""></div>
                    <div class="col-xs-9 col-sm-11">

                        <p class="clearfix"><span class="pull-right">2019-07-20 10:17</span><strong>用户名</strong></p>
                        <div class="guestbook_content ">
                            <p>留言内容。。。</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="guestbook_content_item">
                    <div class="guestbook_head col-xs-3 col-sm-1"><img src="/images/nopic.gif" alt="headimage" class="img-responsive" onerror="this.src="/images/nopic.gif""></div>
                    <div class="col-xs-9 col-sm-11">

                        <p class="clearfix"><span class="pull-right">2019-07-09 09:45</span><strong>用户名</strong></p>
                        <div class="guestbook_content ">
                            <p>留言内容。。。</p>
                        </div>
                        <div style="margin:10px 0px 0px 15px;">
                            <p>管理员回复：</p>
                            <div class="guestbook_content ">
                                <dd class="guestbook_admin_reply">
                                    <p>访客留言及管理员回复留言</p>
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="guestbook_content_item">
                    <div class="guestbook_head col-xs-3 col-sm-1"><img src="/images/nopic.gif" alt="headimage" class="img-responsive" onerror="this.src="/images/nopic.gif""></div>
                    <div class="col-xs-9 col-sm-11">

                        <p class="clearfix"><span class="pull-right">2019-07-08 08:40</span><strong>用户名</strong></p>
                        <div class="guestbook_content ">
                            <p>留言内容。。。</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="guestbook_content_item">
                    <div class="guestbook_head col-xs-3 col-sm-1"><img src="/images/nopic.gif" alt="headimage" class="img-responsive" onerror="this.src="/images/nopic.gif""></div>
                    <div class="col-xs-9 col-sm-11">

                        <p class="clearfix"><span class="pull-right">2019-07-08 08:24</span><strong>用户名</strong></p>
                        <div class="guestbook_content ">
                            <p>>留言内容。。。</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="guestbook_content_item">
                    <div class="guestbook_head col-xs-3 col-sm-1"><img src="/images/nopic.gif" alt="headimage" class="img-responsive" onerror="this.src="/images/nopic.gif""></div>
                    <div class="col-xs-9 col-sm-11">

                        <p class="clearfix"><span class="pull-right">2019-07-08 08:24</span><strong>用户名</strong></p>
                        <div class="guestbook_content ">
                            <p>留言内容。。。</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
</div>
</div>
</div><div class="lyrow visual-drag-box box-element ui-draggable" style="">
    <span class="drag label btn-group drag-container">
        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu btn-black-dropdown-menu">
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
        </ul>
    </span>
<div class="preview">
<img src="/common/plugins/visual/images/section/pages.png">
<p>留言分页</p>
</div>
<div class="view">
<div class="guestbook-pagination">
<div class="codearea">
#[#if isset($record_count)#]# #[#guestbook_pagination()#]# #[#/if#]#
</div>
<div class="viewarea">
<nav>
<ul class="pagination">
<li class="active"><a>1</a></li>
<li><a>2</a></li>
<li><a aria-label="Next"><span aria-hidden="true">>></span></a></li>
</ul>
</nav>
</div>
</div>
</div>
</div></div>
        </div>
        <div class="col-md-4">
            <div class="row column ui-sortable">
            <div class="lyrow visual-drag-box box-element ui-draggable" style="">
    <span class="drag label btn-group drag-container">
        <button type="button" class="btn btn-black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-grid"></i></button>
        <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
        <ul class="dropdown-menu btn-black-dropdown-menu">
            <li><a title="层属性" data-target="#div-config" role="button" data-toggle="modal"><i class="glyphicon glyphicon-cog"></i>层属性</a></li>
            <li><a title="删除" class="remove"><i class="glyphicon glyphicon-remove"></i>删除</a></li>
        </ul>
    </span>
<div class="preview">
<img src="/common/plugins/visual/images/section/comments.png">
<p>留言框</p>
</div>
<div class="view">
<div class="guestbook">
<div class="custtag" rel="callGuestbook()">

    <!-- 上传组件 -->
    <script src="/common/plugins/fileinput/js/fileinput.js" type="text/javascript"></script>
    <script src="/common/plugins/fileinput/js/locales/zh.js" type="text/javascript"></script>
    <link href="/common/plugins/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css">

<script>
    $(function(){
        $('#frmGuestbookSubmit').submit(function() {
            if($('#nickname').val() == ''){
                alert("请输入用户名！！");
                $('#nickname').focus();
                return false;
            }
            if($('#title').val() == ''){
                alert("请输入标题！");
                $('#title').focus();
                return false;
            }
            if($('#guestemail').val() == ''){
                alert("请填写邮箱！");
                $('#guestemail').focus();
                return false;
            }
            function chkEmail(str){
                regex = /\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}\b/gi
                return regex.test(str);
            }
            if(!chkEmail($('#guestemail').val())){
                alert("邮箱格式不对！！");
                $('#guestemail').focus();
                return false;
            }
            if($('#guesttel').val() == ''){
                alert("请输入有效的手机号码！！");
                $('#guesttel').focus();
                return false;
            }
            if(!chkMobile($('#guesttel').val())){
                alert("手机号码格式有误！！");
                $('#guesttel').focus();
                return false;
            }
            if($('#content').val() == ''){
                alert("请输入内容！");
                $('#content').focus();
                return false;
            }
        });
    });
</script>

<form id="frmGuestbookSubmit" method="post" action="/index.php?case=guestbook&act=index&admin_dir=admin&site=default" name="frmGuestbookSubmit" class="form_message">

    <div>分类<span>Cate</span></div>
    <select name="catid" id="catid">
        <option value="1">售前咨询</option>
<option value="2">售后相关</option>
    </select>

<div>姓名<span>Name</span></div>

<input name="nickname" id="nickname" value="" class="guestbook_input">

<div>标题<span>Title</span></div>

<input type="text" name="title" id="title" value="" class="guestbook_input">

<div>内容<span>Content</span></div>

<textarea id="content" name="content" class="guestbook_textarea"></textarea>
    <!--自定义字段 begin-->
            <div>QQ</div>
                        <input name="guestqq" id="guestqq" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" class="guestbook_input">
                    <div>邮箱</div>
                        <input name="guestemail" id="guestemail" value="" class="guestbook_input">
                    <div>电话</div>
                        <input name="guesttel" id="guesttel" value="" class="guestbook_input">
                <!--自定义字段 end-->



<div class="blank20"></div>
<input type="submit" name="submit" value="提交" class="guestbook_btn">
</form>
</div>
</div>
</div>
</div></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div></div>
        </div>
    </div>
</div>